fava==1.30.5
beancount-periodic==0.2
fava-dashboards @ git+https://github.com/andreasgerstmayr/fava-dashboards.git@81ffa8ce50aadf1800ba75c791aeebad0bb96bc5
fava-portfolio-returns @ git+https://github.com/andreasgerstmayr/fava-portfolio-returns.git@d4a49928f01ea211138cd0443b4c083b689834f4
fava_investor==1.0.1
